/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}


/*Body  */
body {
    background: url('/Assets/images/background.jpg') center top/cover no-repeat fixed;
    background-color: rgb(254, 254, 254); 
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: 0; 
    width:100%;
}

/* Intro  */
#intro {
    background: rgba(236, 213, 111, 0.5);
    width: 90%;
    max-width: 700px;
    margin: 20px auto 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
}
/* list styling */
li {
    list-style-type: none;
}
/* intructions styling */

#quiz-instructions {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(236, 213, 111, 0.5);
    width: 90%;
    max-width: 700px;
    border-radius: 5px;
    padding: 5px; 
    text-align: center;
    font-size: 25px;
    height: 300px;
}

#quiz-instructions h3 {
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

